SetEnv GHOST_NODE_VERSION_CHECK false
PassengerStartupFile server/app.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/a0584078/domains/a0584078.xsph.ru/public_html
Options -MultiViews 